<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mamitang.dao.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.mamitang.entity.UserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="special_dish" jdbcType="VARCHAR" property="specialDish" />
    <result column="belong_province" jdbcType="INTEGER" property="belongProvince" />
    <result column="belong_city" jdbcType="INTEGER" property="belongCity" />
    <result column="belong_area" jdbcType="INTEGER" property="belongArea" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="headimg" jdbcType="VARCHAR" property="headimg" />
    <result column="isactive" jdbcType="TINYINT" property="isactive" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="apply_status" jdbcType="INTEGER" property="applyStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, special_dish, belong_province, belong_city, belong_area, 
    nickname, headimg, isactive, createtime, apply_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM  tb_user
    WHERE username = #{0,jdbcType=VARCHAR} and password = #{1,jdbcType=VARCHAR}
  </select>

  <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM  tb_user
    WHERE username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="getAllUsers" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM  tb_user
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mamitang.entity.UserEntity">
    insert into tb_user (id, username, password, 
      special_dish, belong_province, belong_city, 
      belong_area, nickname, headimg, 
      isactive, createtime, apply_status
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{specialDish,jdbcType=VARCHAR}, #{belongProvince,jdbcType=INTEGER}, #{belongCity,jdbcType=INTEGER}, 
      #{belongArea,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{headimg,jdbcType=VARCHAR}, 
      #{isactive,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{applyStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mamitang.entity.UserEntity">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="specialDish != null">
        special_dish,
      </if>
      <if test="belongProvince != null">
        belong_province,
      </if>
      <if test="belongCity != null">
        belong_city,
      </if>
      <if test="belongArea != null">
        belong_area,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="headimg != null">
        headimg,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="specialDish != null">
        #{specialDish,jdbcType=VARCHAR},
      </if>
      <if test="belongProvince != null">
        #{belongProvince,jdbcType=INTEGER},
      </if>
      <if test="belongCity != null">
        #{belongCity,jdbcType=INTEGER},
      </if>
      <if test="belongArea != null">
        #{belongArea,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null">
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mamitang.entity.UserEntity">
    update tb_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="specialDish != null">
        special_dish = #{specialDish,jdbcType=VARCHAR},
      </if>
      <if test="belongProvince != null">
        belong_province = #{belongProvince,jdbcType=INTEGER},
      </if>
      <if test="belongCity != null">
        belong_city = #{belongCity,jdbcType=INTEGER},
      </if>
      <if test="belongArea != null">
        belong_area = #{belongArea,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null">
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mamitang.entity.UserEntity">
    update tb_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      special_dish = #{specialDish,jdbcType=VARCHAR},
      belong_province = #{belongProvince,jdbcType=INTEGER},
      belong_city = #{belongCity,jdbcType=INTEGER},
      belong_area = #{belongArea,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      headimg = #{headimg,jdbcType=VARCHAR},
      isactive = #{isactive,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      apply_status = #{applyStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>