<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mamitang.dao.UserEntityMapper" >
  <resultMap id="BaseResultMap" type="com.mamitang.entity.UserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="NickNames" property="nicknames" jdbcType="VARCHAR" />
    <result column="Sex" property="sex" jdbcType="VARCHAR" />
    <result column="CharacterSignature" property="charactersignature" jdbcType="VARCHAR" />
    <result column="Tag" property="tag" jdbcType="VARCHAR" />
    <result column="Specialty" property="specialty" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="NowCity" property="nowcity" jdbcType="VARCHAR" />
    <result column="Permissions" property="permissions" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="UserPictrue" property="userpictrue" jdbcType="VARCHAR" />
    <result column="Authentication" property="authentication" jdbcType="INTEGER" />
    <result column="relationship" property="relationship" jdbcType="INTEGER" />
    <result column="Level" property="level" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, UserName, PassWord, NickNames, Sex, CharacterSignature, Tag, Specialty, City, 
    NowCity, Permissions, Status, UserPictrue, Authentication, relationship, Level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{0,jdbcType=VARCHAR} and password = #{1,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mamitang.entity.UserEntity" >
    insert into user (id, UserName, PassWord, 
      NickNames, Sex, CharacterSignature, 
      Tag, Specialty, City, 
      NowCity, Permissions, Status, 
      UserPictrue, Authentication, relationship, 
      Level)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nicknames,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{charactersignature,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{specialty,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{nowcity,jdbcType=VARCHAR}, #{permissions,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{userpictrue,jdbcType=VARCHAR}, #{authentication,jdbcType=INTEGER}, #{relationship,jdbcType=INTEGER}, 
      #{level,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mamitang.entity.UserEntity" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="password != null" >
        PassWord,
      </if>
      <if test="nicknames != null" >
        NickNames,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="charactersignature != null" >
        CharacterSignature,
      </if>
      <if test="tag != null" >
        Tag,
      </if>
      <if test="specialty != null" >
        Specialty,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="nowcity != null" >
        NowCity,
      </if>
      <if test="permissions != null" >
        Permissions,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="userpictrue != null" >
        UserPictrue,
      </if>
      <if test="authentication != null" >
        Authentication,
      </if>
      <if test="relationship != null" >
        relationship,
      </if>
      <if test="level != null" >
        Level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nicknames != null" >
        #{nicknames,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="charactersignature != null" >
        #{charactersignature,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="nowcity != null" >
        #{nowcity,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null" >
        #{permissions,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userpictrue != null" >
        #{userpictrue,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        #{authentication,jdbcType=INTEGER},
      </if>
      <if test="relationship != null" >
        #{relationship,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mamitang.entity.UserEntity" >
    update user
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nicknames != null" >
        NickNames = #{nicknames,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="charactersignature != null" >
        CharacterSignature = #{charactersignature,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        Tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        Specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="nowcity != null" >
        NowCity = #{nowcity,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null" >
        Permissions = #{permissions,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userpictrue != null" >
        UserPictrue = #{userpictrue,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        Authentication = #{authentication,jdbcType=INTEGER},
      </if>
      <if test="relationship != null" >
        relationship = #{relationship,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        Level = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mamitang.entity.UserEntity" >
    update user
    set UserName = #{username,jdbcType=VARCHAR},
      PassWord = #{password,jdbcType=VARCHAR},
      NickNames = #{nicknames,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      CharacterSignature = #{charactersignature,jdbcType=VARCHAR},
      Tag = #{tag,jdbcType=VARCHAR},
      Specialty = #{specialty,jdbcType=VARCHAR},
      City = #{city,jdbcType=VARCHAR},
      NowCity = #{nowcity,jdbcType=VARCHAR},
      Permissions = #{permissions,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      UserPictrue = #{userpictrue,jdbcType=VARCHAR},
      Authentication = #{authentication,jdbcType=INTEGER},
      relationship = #{relationship,jdbcType=INTEGER},
      Level = #{level,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>